/* Definir o estilo de tudo*/

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: Arial;
  color: black;
  border: none;
}

body {
  background-color: rgb(219, 215, 215);
}

a {
  font-size: 0.8rem;
}
